 body { 
     background-color: powderblue;
     width: 100 px;
        border: 15px solid plum;
        padding: 50px;
        margin: 50px;
    }
h1 {
    color:purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .class { 
      text-align: center;
      text-decoration: purple;
  }
  #title {
    font-size: larger;
    color: purple;
}

   header + h2 {
        color:purple;
    }

    footer{
        text-align: center;
        color: purple;
    }